<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add steps</title>
</head>
<body>
<h1>Please add new steps for {{title}}</h1>
<form action="/addStep" method="POST">
    <fieldset>
        Step No: <input type="number" name="stepNo" min="1"> <br>
        <textarea name="stepDesc" rows="4" cols="50" placeholder="Enter description" required></textarea> <br>
        <input type="submit" value="add more steps">
    </fieldset>
    {% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form><br>
<h2>Here are the steps you entered so far:</h2>
<ul>
    {% for line in steps %}
        <li>Step {{line.stepNo}}, {{line.sDesc}}</li>
    {% endfor %}
</ul>
<br>
<a href="/home">Return home</a>
</body>
</html>