<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1>Register new user:</h1>
<form action="/registerAuth" method="POST">
	<input type="text" name = "username" placeholder="username" required/> </br>
	<input type="password" name = "password" placeholder="password" required/></br>
    <input type="text" name = "firstname" placeholder="first name" required/></br>
    <input type="text" name = "lastname" placeholder="last name" required/></br>
    <input type="email" name = "email" placeholder="email" required/></br>
    <input type="text" name = "profile" placeholder="profile" required/></br>
	<input type="submit" value = Register />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
<br>
<a href="/">Go back</a>
</body>
</html>